.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 5rem 1.5rem;
}

@media(max-width:1024px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 768px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 500px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}