.about {
  text-align: center;
  margin: 2rem;

  h1 {
    color: #e6f1ff;
  }

  p {
    color: #a8b2d1;
  }

  &__link {
    color: #317a94;
    text-decoration: none;
    margin-top: 2rem;
    display: inline-block;

    &:hover {
      color: #3cbbcc;
      transition: 0.2s ease-out;
    }
  }
}