* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-size: 1.6rem;
  line-height: 1.6;
  box-sizing: border-box;
  background-color: $color-primary;
  color: $color-accent;
  min-height: 100vh;
}