// fonts
$font-primary: 'Roboto Mono',
monospace;
$font-secondary: 'Nunito Sans',
sans-serif;

// colorscheme
$color-primary: #015668;
$color-primary-light: #097e95;
$color-primary-dark: #263f44;

$color-accent: #ffd369;